<!-- templates/upload_receipt_file.html -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Upload Receipt File</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <!-- Cropper CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Cropper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
        <!-- PDF.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


        <style>
      body {
        padding: 20px;
      }

      h2 {
        color: #007bff; /* Bootstrap's primary color */
      }

      form {
        margin-bottom: 20px;
      }

      table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
      }

      th,
      td {
        padding: 10px;
        text-align: left;
        border: 1px solid #dee2e6; /* Bootstrap's table border color */
      }

      th {
        background-color: #007bff; /* Bootstrap's primary color */
        color: #fff;
      }

      tbody tr:hover {
        background-color: #f8f9fa; /* Bootstrap's table hover color */
      }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                  <!-- Camera Image Capture -->
                  <!-- <h4>Capture Image from Camera</h4>
                  <button onclick="startCamera()">Start Camera</button>
                  <video
                      id="cameraFeed"
                      width="400"
                      height="300"
                      style="display: none"
                      autoplay></video>
                  <button
                      id="captureButton"
                      onclick="captureImage()"
                      style="display: none">
                      Capture
                  </button>
                  <img id="capturedImage" style="display: none" /> -->


                 <!-- Upload Receipt File -->
<div class="container mt-5">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <h2 class="mb-4">Upload Files</h2>
          <form id="uploadForm" method="post" enctype="multipart/form-data">
              <div class="form-group">
                  <input type="file" class="form-control" id="fileInput" name="pdf_file" accept="image/*,application/pdf" required>
              </div>
              <div class="form-group">
                  <canvas id="previewCanvas" style="max-width: 100%;"></canvas>
              </div>
              <!-- Hidden input field for camera capture -->
              <input type="hidden" id="id_file" name="file">
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
  </div>
</div>


                    
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>PDF Filename</th>
                                    <th>CSV Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for receipt_file in receipt_files %}
                                <tr>
                                    <td>{{ receipt_file.pdf_file.file }}
                                      <a
                                            href="{{ url }}{{ receipt_file.pdf_file.file }}">
                                            PDF File
                                        </a>
                                      </td>
                                    <td>{{ receipt_file.csv_file }}
                                        <a
                                            href="{{ url }}{{ receipt_file.csv_file }}">
                                            Download
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

       
       
            <script>

              $(document).ready(function () {
                  var cropper;
              
                  $('#fileInput').change(function (event) {
                      var files = event.target.files;
                      var file = files[0];
              
                      if (file.type === 'application/pdf') {
                        // Display PDF
                          displayPDF(file);
                      } else if (file.type.startsWith('image/')) {
                          // Display Image
                          displayImage(file);
                      } else {
                          alert('Unsupported file format!');
                      }
                  });
              
                  function displayPDF(file) {
                      var reader = new FileReader();
                      reader.onload = function (e) {
                          var typedarray = new Uint8Array(e.target.result);
                          pdfjsLib.getDocument(typedarray).promise.then(function (pdf) {
                              pdf.getPage(1).then(function (page) {
                                  var viewport = page.getViewport({ scale: 1 });
                                  var canvas = document.getElementById('previewCanvas');
                                  var context = canvas.getContext('2d');
                                  canvas.height = viewport.height;
                                  canvas.width = viewport.width;
                                  var renderContext = {
                                      canvasContext: context,
                                      viewport: viewport
                                  };
                                  page.render(renderContext).promise.then(function () {
                                      if (cropper) {
                                          cropper.destroy();
                                      }
                                      cropper = new Cropper(canvas, {
                                          viewMode: 1,
                                          dragMode: 'move',
                                          cropBoxResizable: true,
                                          cropBoxMovable: true,
                                          aspectRatio: NaN,
                                          crop: function (event) {
                                              // Do something when crop is done
                                          }
                                      });
                                  });
                              });
                          });
                      };
                      reader.readAsArrayBuffer(file);
                  }
              
                  function displayImage(file) {
                      var reader = new FileReader();
                      reader.onload = function (e) {
                          var image = new Image();
                          image.src = e.target.result;
                          image.onload = function () {
                              var canvas = document.getElementById('previewCanvas');
                              var ctx = canvas.getContext('2d');
                              ctx.clearRect(0, 0, canvas.width, canvas.height);
                              canvas.width = image.width;
                              canvas.height = image.height;
                              ctx.drawImage(image, 0, 0, image.width, image.height);
              
                              // Initialize Cropper
                              cropper = new Cropper(canvas, {
                                  viewMode: 1,
                                  dragMode: 'move',
                                  cropBoxResizable: true,
                                  cropBoxMovable: true,
                                  aspectRatio: NaN,
                                  crop: function (event) {
                                      // Do something when crop is done
                                  }
                              });
                          };
                      };
                      reader.readAsDataURL(file);
                  }
              
              $('#uploadForm').submit(function (event) 
              {
                  event.preventDefault();
                  var files = $('#fileInput')[0].files;
                  
                  if (files.length === 0) {
                      console.error('No file selected.');
                      return;
                  }
              
                  var croppedData = cropper.getData();
                  var croppedImageData = cropper.getCroppedCanvas().toDataURL();
                  var croppedImageBlob = dataURItoBlob(croppedImageData);
              
                  // Get coordinates
                  var leftMargin = parseInt(croppedData.x);
                  var bottomMargin = parseInt(croppedData.y + croppedData.height);
                  var rightMargin = parseInt(croppedData.x + croppedData.width);
                  var topMargin = parseInt(croppedData.y);
              
              
                  
                  var formData = new FormData();
                 
                  formData.append('pdf_file', files[0]); // Pass the first file from the input
                  formData.append('x1', leftMargin);
                  formData.append('y1', bottomMargin);
                  formData.append('x2', rightMargin);
                  formData.append('y2', topMargin);
                  formData.append('croppedImage', croppedImageBlob);
                  
                  console.log("Test");
                  console.log('pdf_file', files[0].name,"\nCoordinates: x1=", leftMargin, " y1=", bottomMargin, " x2=", rightMargin, " y2=", topMargin);
                  // alert('pdf_file', files[0].name,"\nCoordinates: x1=", leftMargin, " y1=", bottomMargin, " x2=", rightMargin, " y2=", topMargin);  
 
$.ajax({
    url: 'http://localhost:8000/api/upload',
    // url: 'https://file-converter-eru2.onrender.com/api/upload',
    
    type: 'POST',
    data: formData,
    processData: false,
    contentType: false,
    success: function (response) {
        console.log("Backend success");
        console.log(response);
        // Reload the page
        window.location.reload();
    },
    error: function (xhr, status, error) {
        console.log("Backend Error");
        console.error(xhr.responseText);
        // Handle errors of the first API call
    }
});

              });
              
              
              
                  // Function to convert data URI to Blob
                  function dataURItoBlob(dataURI) 
                  {
                      var byteString = atob(dataURI.split(',')[1]);
                      var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
                      var ab = new ArrayBuffer(byteString.length);
                      var ia = new Uint8Array(ab);
                      for (var i = 0; i < byteString.length; i++) 
                      {
                          ia[i] = byteString.charCodeAt(i);
                      }
                      var blob = new Blob([ab], { type: mimeString });
                      return blob;
                  }
              
              });
              
              
              </script>
       
       
       
       
       
       
            <!-- <script>
      let cameraStarted = false;

      async function startCamera() {
        try {
          const video = document.getElementById("cameraFeed");
          const stream = await navigator.mediaDevices.getUserMedia({
            video: true,
          });
          video.srcObject = stream;
          cameraStarted = true;
          document.getElementById("captureButton").style.display = "block";
          document.getElementById("cameraFeed").style.display = "block";
          document.getElementById("capturedImage").style.display = "none";
        } catch (error) {
          console.error("Error accessing camera:", error);
        }
      }

      function captureImage() {
        console.log(cameraStarted, "camers")
        if (cameraStarted) {
          const video = document.getElementById("cameraFeed");
          const canvas = document.createElement("canvas");
          canvas.width = video.videoWidth;
          canvas.height = video.videoHeight;
          const context = canvas.getContext("2d");
          context.drawImage(video, 0, 0, canvas.width, canvas.height);

          // Display the captured image
          const capturedImage = document.getElementById("capturedImage");
          capturedImage.src = canvas.toDataURL("image/jpeg");
          capturedImage.style.display = "block";

          // Hide the video feed
          video.style.display = "none";

          // Set the base64 representation of the image in the hidden input field
          const capturedImageInput =
            document.getElementById("id_file");
            console.log(capturedImageInput, "capturedImageInput");  
          capturedImageInput.value = canvas.toDataURL("image/jpeg");
          console.log(capturedImageInput)
          
          canvas.toBlob((blob) => {
            const file = new File([blob], "captured_image.jpeg", { type: "image/jpeg" });

            // Create a hidden form
            const form = document.createElement("form");
            form.style.display = "none";
            form.method = "post";
            form.enctype = "multipart/form-data";

            // Create a file input and append it to the form
            const fileInput = document.createElement("input");
            fileInput.type = "file";
            fileInput.name = "file";
            fileInput.files = [file];
            form.appendChild(fileInput);

            // Append the form to the body and submit it
            document.body.appendChild(form);
            form.submit();

            // Remove the form from the body
            document.body.removeChild(form);

            // Reset camera and UI
            document.getElementById("cameraFeed").style.display = "block";
            document.getElementById("capturedImage").style.display = "none";
        }, "image/jpeg");
        } else {
          console.error('Camera not started. Click "Start Camera" first.');
        }
      }
    </script> -->
    </body>
</html>
